<!DOCTYPE html>



{% block body %}

// J'ARRIVE PAS À TROUVER !!! boucle sur les differentes catgories
    <ul>
        {% for xxxxx in categories %}
            <li>{{ xxxxx.name }}</li>
        {% endfor %}
    </ul>
{% endblock %}
