{% extends 'base.html.twig' %}

{% block body %}

    <h3>{{ episode.title }}</h3>

    <p>Synopsis :  {{ episode.synopsis }}</p>
    {#

        {%  for episode in episodes.season %}
     <p>{{path('wild_show_episode',{'id': season.episodes.id})}}">{{ episode.title }}</p>
        {% endfor %}
    #}

{% endblock %}
